@import '@scss/media.scss';

.container {
  max-width: 80%;
  margin: 0 auto;

  @include mediaXL {
    max-width: 80%;
  }

  @include mediaL {
    max-width: 90%;
  }

  @include mobileL {
    margin: 0 auto;
    padding: 0 20px;
  }

  @include mobileM {
    padding: 0 15px;
  }

  @include mobileS {
    padding: 0 10px;
  }
}
